.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
  Header
*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}

nav {
  display: block;
  margin-left: 2em;
}

nav a {
  text-decoration: none;
}

main {
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 2em;
  border: 1px solid #ffa500;
  border-radius: 2px;
  font-size: 20px;
}
.form-container {
  width: 50%;
}

.form-container input,
.form-container textarea {
  width: 300px;
  margin-bottom: 20px;
  border: 1px solid #8e8e8e;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px;
}

.form-container input {
  height: 20px;
}

.form-container textarea {
  height: 60px;
}

.form-container button {
  width: 100px;
  padding: 1em;
  background-color: #ffa50099;
  border: none;
  border-radius: 4px;
}

.forum-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
  padding: 2em;
  margin: 0 auto;
}

.forum-container > p {
  width: 100%;
  text-align: center;
}

.post-container {
  border: 1px solid #ffa50099;
  border-radius: 4px;
  max-width: 300px;
  min-width: 300px;
  margin-right: 20px;
}

.reaction {
  display: flex;
  justify-content: center
}

.reaction p {
  margin-right: 5px;
  cursor: pointer;
  padding: 10px
}

/* 404 paage*/
.not-found {
  background: url('https://http.cat/404') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

